@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-link, .navbar-brand {
  color: #6A5CE1;
}

.bg-img {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.section-title {
  color: #6A5CE1;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.hover-effect {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.hover-effect:hover {
  filter: grayscale(0%);
}

.text-gradient {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 767px) {
  .avatar img {
    max-width: 60%;
  }

  .text-center-sm {
    text-align: center !important;
  }

  .icon {
    margin: 5px;
  }
}
