body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  background-image: url('Image/main_background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #6A5CE1;
  border-color: #6A5CE1;
}

.about-section {
  padding: 5rem 0;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.skills-section {
  padding: 5rem 0;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.portfolio-section {
  padding: 5rem 0;
}

.portfolio-section
